*{
    padding: 0px;
    margin: 0px;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
    color: #ffffff;
    padding: 20px;
}
header p{
    font-size: 20px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0;
   
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100px;
    background-color:yellow;
    color: #000000;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    height: 5000px;
}
#changeColorButton{
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
}
@media screen and (max-width: 200px){
    header{
        display: block;
    }
}